<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816396705670-sqntkglrgh5s76vhn6k8q4j1c4orrplu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816396705670-sqntkglrgh5s76vhn6k8q4j1c4orrplu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>816396705670-3cs34r99omsitgoq5umgc5rt2c1e1bfr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxNpulNTpThBy1fR21q4DsHFgjGW8LThs</string>
	<key>GCM_SENDER_ID</key>
	<string>816396705670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mavrixfy.mavrixfy</string>
	<key>PROJECT_ID</key>
	<string>spotify-8fefc</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-8fefc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:816396705670:ios:8e6a960d16ff066f521607</string>
</dict>
</plist>